{% extends "layout.html" %}

<!-- Hero Content -->
{% block hero %}

<div class="jumbotron jumbotron-fluid" style="padding-top:100px;">
  <div class="container">
    <div class="card" style="background-color: transparent; border: 0;">
      <div class="card-body">
        <span><i class="mr-2" data-feather="trending-up" width=20 style="color: #00A3FF;"></i>TOP POST</span>
        <h1 class="card-title mt-3" style="color: white;">{{ top_post.title }}</h1>
        <h6 class="card-subtitle mb-2 text-muted">{{ top_post.author }}</h6>
        <p class="card-text">{{ top_post.content }}</p>
        <p class="card-text mt-5">
          <large class="mr-2"><i class="mr-1" data-feather="user" width=20 style="color: white;"></i>{{ top_post.author }}</large>
          <large class="mr-2"><i class="mr-1" data-feather="eye" width=20 style="color: white;"></i>{{ top_post.view_count }}</large>
          <large><i class="mr-1" data-feather="clock" width=20 style="color: white;"></i>{{ top_post.date_posted }}</large>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock hero %}

<!-- Main Content -->
{% block content %}

<div class="row">
    {% for post in posts %}
    <div class="card col-lg-6" style="border-radius: 0; margin: -1px;">
      <div class="card-body">
        <a href="#" class="card-link">
          <h5 class="card-title">{{ post.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.author }}</h6>
          <p class="card-text">{{ post.content }}</p>
        </a>
        <p class="card-text mt-3">
          <small class="text-muted mr-2"><i class="mr-1" data-feather="eye" width=17></i>{{ post.view_count }}</small>
          <small class="text-muted mr-2"><i class="mr-1" data-feather="thumbs-up" width=17></i>{{ post.like_count }}</small>
          <small class="text-muted"><i class="mr-1" data-feather="message-square" width=17></i>{{ post.comment_count }}</small>
        </p>
        <p class="card-text"><small class="text-muted">Last updated on {{ post.date_posted }}</small></p>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
