{% extends "layout.html" %}


{% block empty %}
{% if top_post or posts %}

{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container mt-4">
      <div class="text-center">
        <img src="{{ url_for('static', filename='images/empty.svg') }}" class="img-fluid mb-4 mx-wd-300" alt="No Posts">
      </div>
      <h6 align="center">You currently have no posts in your company workspace.</h6>
      <p align="center">Be the first to create a post now!</p>
      <div class="text-center mb-5">
        <a href="{{ url_for('new_post', company_id=company_id) }}" class="btn btn-primary rounded-pill mr-2"><i class="mr-2" data-feather="plus" width=17></i>Create a New Post</a>
      </div>
    </div>
</div>
{% endif %}
{% endblock empty %}
<!-- Hero Content -->
{% block hero %}
{% if top_posts %}
<div class="jumbotron jumbotron-fluid">
    <div class="container mt-4">
      <p><span><i class="mr-2" data-feather="trending-up" width=20 style="color: #00A3FF;"></i>Trending</span></p>
      <div class="card-group">
        {% for top_post in top_posts %}
          <div class="card col-lg-3 shadow-sm mr-3" style="padding:0px">
          {% if top_post.type == "suggestion" %}
            <span style="height: 5px; width: 100%; content: ''; display: block; background-color: #007bff;"></span>
            <div class="card-body">
              <span style="color: #007bff;"><i class="mr-2" data-feather="clipboard" width=15 style="color: #007bff;"></i><strong>Suggestion</strong></span>
          {% elif top_post.type == "response" %}
            <span style="height: 5px; width: 100%; content: ''; display: block; background-color: #ff9d00;"></span>
            <div class="card-body">
              <span style="color: #ff9d00;"><i class="mr-2" data-feather="corner-up-right" width=15 style="color: #ff9d00;"></i><strong>Response</strong></span>
          {% elif top_post.type == "notion" %}
            <span style="height: 5px; width: 100%; content: ''; display: block; background-color: #9500ff;"></span>
            <div class="card-body">
              <span style="color: #9500ff;"><i class="mr-2" data-feather="message-circle" width=15 style="color: #9500ff;"></i><strong>Notion</strong></span>
          {% endif %}
              <a href="{{ url_for('post', company_id=company_id, post_id=top_post.id) }}" class="card-link">
                <h4 class="card-title mt-3">{{ top_post.title }}</h4>
                <p class="card-text">{{ top_post.content | truncate(100) | safe }}</p>
              </a>
              <p class="card-text mt-3">
                <img class="rounded-circle mr-1" src="{{ url_for('static', filename='profile_pics/' + top_post.author.image_file) }}" width="25">
                  {{ top_post.author.first_name+" "+top_post.author.last_name }}
                <small class="text-muted">· {{ top_post.date_posted.strftime('%b %d') }}</small>
              </p>
            </div>
          </div>
        {% endfor %}
        </div>
        </div>
      </div>
{% endif %}
{% endblock hero %}

<!-- Main Content -->
{% block content %}
{% if posts %}
<p><span><i class="mr-2" data-feather="inbox" width=20 style="color: #00A3FF;"></i>All</span></p>
<div class="card-columns">
    {% for post in posts %}
    <div class="card shadow-sm">
      {% if post.type == "suggestion" %}
        <span style="height: 5px; width: 100%; content: ''; display: block; background-color: #007bff;"></span>
        <div class="card-body">
          <span style="color: #007bff;"><i class="mr-2" data-feather="clipboard" width=15 style="color: #007bff;"></i><strong>Suggestion</strong></span>
      {% elif post.type == "response" %}
        <span style="height: 5px; width: 100%; content: ''; display: block; background-color: #ff9d00;"></span>
        <div class="card-body">
          <span style="color: #ff9d00;"><i class="mr-2" data-feather="corner-up-right" width=15 style="color: #ff9d00;"></i><strong>Response</strong></span>
      {% elif post.type == "notion" %}
        <span style="height: 5px; width: 100%; content: ''; display: block; background-color: #9500ff;"></span>
        <div class="card-body">
          <span style="color: #9500ff;"><i class="mr-2" data-feather="message-circle" width=15 style="color: #9500ff;"></i><strong>Notion</strong></span>
          {% endif %}
        <a href="{{ url_for('post', company_id=company_id, post_id=post.id) }}" class="card-link">
          <h5 class="card-title mt-3">{{ post.title }}</h5>
          <p class="card-text" style="color: black;">{{ post.content | truncate(100) | safe }}</p>
        </a>
        <p class="card-text">
          <img class="rounded-circle mr-1" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" width="25">
            {{ post.author.first_name+" "+post.author.last_name }}
          <small class="text-muted">· {{ post.date_posted.strftime('%b %d') }}</small>
        </p>
        <p class="card-text mt-3 d-flex justify-content-end">
          <small class="text-muted mr-2"><i class="mr-1" data-feather="eye" width=17></i>{{ post.view_count }}</small>
          <small class="text-muted mr-2"><i class="mr-1" data-feather="thumbs-up" width=17></i>{{ post.likes.count() }}</small>
          <small class="text-muted"><i class="mr-1" data-feather="message-square" width=17></i>{{ post.responses|length }}</small>
        </p>
      </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}
