<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coeno | Collaborative Decision-Making Done Right</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing/css/style.css') }}">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <!-- PaceJS - Loading Indicator -->
    <script src="{{ url_for('static', filename='pace/pace.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='pace/pace.css') }}">
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="{{ url_for('landing') }}">
                                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Coeno Logo">
                            </a>
                        </h1>
                    </div>
                    <ul class="header-links list-reset m-0">
                        <li>
                            <a href="{{ url_for('find_login') }}">Login</a>
                        </li>
                        <li>
                            <a class="button button-sm button-shadow" href="{{ url_for('register_company') }}">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing">Improve your company culture and boost employee engagement</h1>
                        <p class="hero-paragraph is-revealing">Coeno creates a workplace environment which allows employees to express and share their opinions and ideas freely.</p>
                        <p class="hero-cta is-revealing"><a class="button button-secondary button-shadow" href="{{ url_for('register_company') }}">Get started now</a></p>
                    </div>
                </div>
            </section>

            <section class="features section text-center">
                <div class="container">
                    <div class="features-inner section-inner">
                        <h2 class="section-title">Product features</h2>
                        <div class="features-wrap">
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="{{ url_for('static', filename='images/share.svg') }}" alt="Share" width="48" height="48">
                                    </div>
                                    <h4 class="feature-title h3-mobile">Share information</h4>
                                    <p class="text-sm">Employees can gain access to information about important decisions and decision-making processes.</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="{{ url_for('static', filename='images/innovation.svg') }}" alt="Innovation" width="48" height="48">
                                    </div>
                                    <h4 class="feature-title h3-mobile">Drive innovation</h4>
                                    <p class="text-sm">Harvest the best and brightest ideas from employees in your company.</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="{{ url_for('static', filename='images/culture.svg') }}" alt="Culture" width="48" height="48">
                                    </div>
                                    <h4 class="feature-title h3-mobile">Build culture</h4>
                                    <p class="text-sm">Create an enthusiastic community for all levels of employees to engage openly.</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="{{ url_for('static', filename='images/connect.svg') }}" alt="Connect" width="48" height="48">
                                    </div>
                                    <h4 class="feature-title h3-mobile">Connect people</h4>
                                    <p class="text-sm">Provide a direct line between management and employees.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="features-extended section">
                <div class="container">
                    <div class="features-extended-inner section-inner has-top-divider">
                        <div class="features-extended-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">Meet Coeno</h2>
                                <p class="section-paragraph">Empower your employees to inspire change, today.</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">

                              <img src="{{ url_for('static', filename='images/product1.svg') }}" alt="Suggestion">

                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Present Your Suggestion</h3>
                                <p>A Suggestion is your thoughts, ideas, or stance on a particular subject matter. It can be as long or short as you want it to be. The goal of a Suggestion is to outline your views on a topic so that others can read it and decide for themselves whether they agree or disagree with you.</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="{{ url_for('static', filename='images/product2.svg') }}" alt="Response">
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Debate with a Response</h3>
                                <p>There’s absolutely no harm in some healthy debate, which is why you always have the option to write a Response to any Suggestion you don’t necessarily agree with.</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="{{ url_for('static', filename='images/product3.svg') }}" alt="Notion">
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Collaborate with a Notion</h3>
                                <p>Sometimes you may not have a well-formed Suggestion for your team and colleagues, and you may want to invite others to contribute. A Notion allows you to do that.</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="{{ url_for('static', filename='images/product4.svg') }}" alt="Decision">
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Create an Open Decision-Making Process</h3>
                                <p>You can easily add tentative decision and collaborate together on the steps that will guide your goal process.</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="{{ url_for('static', filename='images/product5.svg') }}" alt="Poll">
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Assess Popularity of Ideas and Decisions</h3>
                                <p>Polling your team or company is very easy and accessible in your Coeno company workspace.</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="{{ url_for('static', filename='images/product6.svg') }}" alt="Feedback">
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Gather Relevant and Actionable Feedback</h3>
                                <p>Decisions are made through a continuous process of feedback and alternatives gathering. Create feedback requests easily and quickly in your company workspace.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pricing section">
                <div class="container">
                    <div class="pricing-inner section-inner has-top-divider">
                        <h2 class="section-title mt-0 text-center">Pricing</h2>
                        <div class="pricing-tables-wrap">
                            <div class="pricing-table is-revealing">
                                <div class="pricing-table-inner">
                                    <div class="pricing-table-main">
                                        <div class="pricing-table-header">
                                            <div class="pricing-table-title mt-12 mb-16 text-secondary">Free Forever</div>
                                            <div class="pricing-table-price mb-24 pb-32"><span class="pricing-table-price-currency h3">$</span><span class="pricing-table-price-amount h1">0</span></div>
                                        </div>
                                        <ul class="pricing-table-features list-reset text-xs mb-56">
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>For startups, small teams and companies.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Up to 25 users per workplace account.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Up to 10K Suggestions, Responses and Notions.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Customizable departments, topics and locations.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Full search capabilities.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-table-cta">
                                        <a class="button button-secondary button-block" href="{{ url_for('register_company') }}">Get started now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-table is-revealing">
                                <div class="pricing-table-inner">
                                    <div class="pricing-table-main">
                                        <div class="pricing-table-header">
                                            <div class="pricing-table-title mt-12 mb-16 text-primary">Enterprise (Monthly)</div>
                                            <div class="pricing-table-price mb-24 pb-32"><span class="pricing-table-price-currency h3">$</span><span class="pricing-table-price-amount h1">3/user</span></div>
                                        </div>
                                        <ul class="pricing-table-features list-reset text-xs mb-56">
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>For larger companies and enterprises.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Unlimited users per workplace account.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Unlimited Suggestions, Responses and Notions.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Customizable departments, topics  and locations</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Full search capabilities</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-table-cta">
                                        <a class="button button-primary button-block" href="{{ url_for('register_company') }}">Get started now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">

                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='landing/js/main.min.js') }}" ></script>
</body>
</html>
