{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    {% if post.type == "suggestion" %}
        <span style="color: #007bff;"><i class="mr-2" data-feather="clipboard" width=20 style="color: #007bff;"></i><strong>Suggestion</strong></span>
    {% elif post.type == "response" %}
        <span style="color: #ff9d00;"><i class="mr-2" data-feather="corner-up-right" width=20 style="color: #ff9d00;"></i><strong>Response</strong></span>
    {% elif post.type == "notion" %}
        <span style="color: #9500ff;"><i class="mr-2" data-feather="message-circle" width=20 style="color: #9500ff;"></i><strong>Notion</strong></span>
    {% endif %}
    <h1 class="mt-2">{{ post.title }}</h1>
    <p><large class="text-muted">Last updated on {{ post.date_posted.strftime('%b %d, %Y') }}</large></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <img class="rounded-circle mb-3" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" width="50">
    <h6><span class="text-muted">by</span> {{ post.author.first_name+" "+post.author.last_name }}</h6>
    {% if post.author.title %}
    <p class="text-muted">{{ post.author.title }}</p>
    {% endif %}
  </div>
  <div class="col-lg-10">
    {% if post.author == current_user %}
      <div>
        <a class="btn btn-info btn-sm mt-1 mb-1 rounded-pill" href="{{ url_for('update_post', post_id=post.id, company_id=company_id) }}">Edit Post</a>
        <button type="button" class="btn btn-danger btn-sm m-1 rounded-pill" data-toggle="modal" data-target="#deleteModal">Delete</button>
      </div>
    {% endif %}
    <p>{{ post.content | safe }}</p>
    <div class="mt-4">
      <a href="#" class="btn btn-outline-primary rounded-pill mr-2 mb-2"><i class="mr-2" data-feather="eye" width=17></i>{{ post.view_count }} Views</a>
      {% if current_user.has_liked_post(post) %}
        <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}" class="btn btn-success rounded-pill mr-2 mb-2">{{ post.likes.count() }}<i class="ml-1 mr-2" data-feather="thumbs-up" width=17></i>I agree</a>
      {% else %}
      <a href="{{ url_for('like_action', post_id=post.id, action='like') }}" class="btn btn-outline-success rounded-pill mr-2 mb-2">{{ post.likes.count() }}<i class="ml-1 mr-2" data-feather="thumbs-up" width=17></i>I agree</a>
      {% endif %}
      {% if current_user.has_disliked_post(post) %}
        <a href="{{ url_for('dislike_action', post_id=post.id, action='undislike') }}" class="btn btn-danger rounded-pill mr-2 mb-2">{{ post.dislikes.count() }}<i class="ml-1 mr-2" data-feather="thumbs-down" width=17></i>I disagree</a>
      {% else %}
      <a href="{{ url_for('dislike_action', post_id=post.id, action='dislike') }}" class="btn btn-outline-danger rounded-pill mr-2 mb-2">{{ post.dislikes.count() }}<i class="ml-1 mr-2" data-feather="thumbs-down" width=17></i>I disagree</a>
      {% endif %}
        <a href="#responses" class="btn btn-outline-warning rounded-pill mr-2 mb-2"><i class="mr-2" data-feather="message-square" width=17></i>{{ post.responses|length }} Responses</a>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info rounded-pill" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id, company_id=company_id) }}" method="POST">
            <input class="btn btn-danger rounded-pill" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block debate %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h3 id="responses">Responses</h3>
      <div class="card">
        <div class="card-body">
          <h6 class="card-title d-flex justify-content-center">Add a response</h6>
          <p class="card-text d-flex justify-content-center">Raise a discussion about this post.</p>
          <div class="text-center">
            <a href="{{ url_for('response', company_id=company_id, post_id=post.id) }}" class="btn btn-secondary rounded-pill mr-2"><i class="mr-2" data-feather="message-square" width=17></i>Add a Response</a>
          </div>
        </div>
      </div>
      {% if post.responses|length == 1 %}
      <h4 class="mt-4" style="color: #ff9d00;">{{ post.responses|length }} Response</h4>
      {% elif post.responses|length > 1 %}
      <h4 class="mt-4" style="color: #ff9d00;">{{ post.responses|length }} Responses</h4>
      {% endif %}
      {% for response in post.responses %}
      <div class="card mt-2 shadow-sm">
        <div class="card-body">
          <span style="color: #ff9d00;"><i class="mr-2" data-feather="corner-up-right" width=20 style="color: #ff9d00;"></i><strong>Response</strong></span>
          <div class="row">
            <div class="col-10">
              <h4 class="card-title">{{ response.title }}</h4>
              <p class="card-text">
                <img class="rounded-circle mr-1" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" width="25">
                  {{ response.author.first_name+" "+response.author.last_name }}
                <small class="text-muted">· {{ response.date_posted.strftime('%b %d') }}</small>
              </p>
            </div>
            <div class="col-2">
              <a href="{{ url_for('post', company_id=company_id, post_id=response.id) }}" class="btn btn-warning rounded-pill mr-2"><i class="mr-2" data-feather="message-square" width=17></i>View</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

  </div>
</div>
{% endblock debate %}
