<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">

    <title>Coeno | Register as a Company</title>

    <!-- vendor css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/@fortawesome/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dashforge.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dashforge.dashboard.css') }}">

    <!-- PaceJS - Loading Indicator -->
    <script src="{{ url_for('static', filename='pace/pace.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='pace/pace.css') }}">
  </head>
  <body>

    <div class="content content-fixed content-auth">
      <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p">
          <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
            <div class="pd-t-20 wd-100p">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-dismissible alert-{{ category }}">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <h4 class="tx-color-01 mg-b-5">Create a company account</h4>
              <p class="tx-color-03 tx-16 mg-b-40">It's free to signup and only takes a minute.</p>


            <form method="POST" action="">
              {{ form.hidden_tag() }}
                <fieldset class="form-group">
                  <div id="wizard">
                    <h3>Company</h3>
                    <section>
                      <div class="form-group">
                          {{ form.company_name.label(class="form-control-label") }}

                          {% if form.company_name.errors %}
                              {{ form.company_name(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.company_name.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.company_name(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                    </section>
                    <h3>Personal Info</h3>
                    <section>
                      <div class="form-group">
                          {{ form.first_name.label(class="form-control-label") }}

                          {% if form.first_name.errors %}
                              {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.first_name.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.first_name(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                      <div class="form-group">
                          {{ form.last_name.label(class="form-control-label") }}

                          {% if form.last_name.errors %}
                              {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.last_name.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.last_name(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                      <div class="form-group">
                          {{ form.username.label(class="form-control-label") }}

                          {% if form.username.errors %}
                              {{ form.username(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.username.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.username(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                    </section>
                    <h3>Authentication</h3>
                    <section>
                      <div class="form-group">
                          {{ form.email.label(class="form-control-label") }}
                          {% if form.email.errors %}
                              {{ form.email(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.email.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.email(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                      <div class="form-group">
                          {{ form.password.label(class="form-control-label") }}
                          {% if form.password.errors %}
                              {{ form.password(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.password.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.password(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                      <div class="form-group">
                          {{ form.confirm_password.label(class="form-control-label") }}
                          {% if form.confirm_password.errors %}
                              {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.confirm_password.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.confirm_password(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                      <div class="form-group tx-12">
                        By clicking <strong>Create an Account</strong> below, you agree to our terms of service and privacy policy.
                      </div>
                    </section>
                  </div>
                </fieldset>
              </form>
            </div>
          </div><!-- sign-wrapper -->
          <div class="media-body pd-y-30 pd-lg-x-50 pd-xl-x-60 align-items-center d-none d-lg-flex pos-relative">
            <div class="mx-lg-wd-500 mx-xl-wd-550">
              <img src="{{ url_for('static', filename='images/register.svg') }}" class="img-fluid" alt="">
            </div>
          </div><!-- media-body -->
        </div><!-- media -->
      </div><!-- container -->
    </div><!-- content -->

    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/feather-icons/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>


    <script src="{{ url_for('static', filename='assets/js/dashforge.js') }}" ></script>

    <script src="{{ url_for('static', filename='lib/jquery-steps/build/jquery.steps.min.js') }}"></script>
    <script type="text/javascript">
    $('#wizard').steps({
      headerTag: 'h3',
      bodyTag: 'section',
      autoFocus: true,
      titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
      onFinished: function (event, currentIndex) {
        $('form').submit();
      },

      labels: {
        finish: "Create Account"
      }
    });
    </script>

  </body>
</html>
